In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import csv 

from Bio import SeqIO
from Bio.pairwise2 import format_alignment
from Bio import pairwise2

from Bio.Alphabet import generic_dna
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
from Bio import Align

from Bio.Alphabet import generic_dna
from Bio.SeqRecord import SeqRecord
from Bio.Align import MultipleSeqAlignment

In [24]:
one=SeqIO.read('C:/Users/Vladi/Desktop/8.05/'+str(0)+'.fasta', "fasta")

for i in range(1,26):
    while i<27:
        two=SeqIO.read('C:/Users/Vladi/Desktop/8.05/'+str(i)+'.fasta', "fasta")
        DNA_name=one.id + "&" + two.id
        identifity=pairwise2.align.globalxx(one.seq, two.seq, score_only=True)
        count_score=len(one) if one.seq > two.seq else len(two)
        procent_identifity=(100*identifity)/count_score
        data={'DNA_name':(DNA_name), 'identifity':(identifity), 'index':[0], 'procent_identifity':(procent_identifity)}
        i+=1
        print(procent_identifity)
#        print(data)
    else:
#        frame_start=pd.DataFrame(data)
#        frame_start.to_csv('C:/Users/Vladi/Desktop/8.05/test.csv')
        print("ok")
        break

65.5315865401
70.6377696514
82.893280102
99.973160667
96.215654041
82.9234743517
82.8832153521
82.9167645184
70.1311772402
82.8194719361
68.5744959238
81.0983997048
82.802697353
65.9174019526
82.893280102
82.9939276009
82.9100546851
82.7490186869
89.1032307847
88.8314825377
83.0038061235
82.8194719361
69.3092226658
70.0305297413
81.3362481213
69.9802059919
ok

In [14]:
a=[{'procent_identifity': 65.53158654007449, 'index': [0], 'identifity': 19533.0, 'DNA_name': 'MT291826.1&NC_002645.1'},{'procent_identifity': 70.63776965142416, 'index': [0], 'identifity': 21055.0, 'DNA_name': 'MT291826.1&NC_009019.1'},{'procent_identifity': 82.89328010198946, 'index': [0], 'identifity': 24708.0, 'DNA_name': 'MT291826.1&gb:AY278488|Organism:SARS'},{'procent_identifity': 99.97316066695743, 'index': [0], 'identifity': 29799.0, 'DNA_name': 'MT291826.1&MN975262.1'},{'procent_identifity': 96.21565404099708, 'index': [0], 'identifity': 28679.0, 'DNA_name': 'MT291826.1&MN996532.1'}]
frame_start=pd.DataFrame(a)
frame_start

                               DNA_name  identifity index  procent_identifity
0                MT291826.1&NC_002645.1     19533.0   [0]           65.531587
1                MT291826.1&NC_009019.1     21055.0   [0]           70.637770
2  MT291826.1&gb:AY278488|Organism:SARS     24708.0   [0]           82.893280
3                 MT291826.1&MN975262.1     29799.0   [0]           99.973161
4                 MT291826.1&MN996532.1     28679.0   [0]           96.215654

In [16]:
for i in range(1,26):
    while i<27:
        two=SeqIO.read('C:/Users/Vladi/Desktop/8.05/'+str(i)+'.fasta', "fasta")
        GC_content=two.seq.count("GC")*100//len(two)
        data={'DNA_name':(two.id), 'count_score':len(two), 'index':[0], 'A':two.seq.count("A"),'T':two.seq.count("T"),'G':two.seq.count("G"),'C':two.seq.count("C"),'GC_content':(GC_content)}
        i+=1
        print(GC_content)
#        print(data)   
    else:
        print("ok")
        break

{'A': 7420, 'index': [0], 'C': 4549, 'T': 9445, 'G': 5903, 'DNA_name': 'NC_002645.1', 'GC_content': 4, 'count_score': 27317}
{'A': 8357, 'index': [0], 'C': 5191, 'T': 10476, 'G': 6262, 'DNA_name': 'NC_009019.1', 'GC_content': 4, 'count_score': 30286}
{'A': 8465, 'index': [0], 'C': 5941, 'T': 9134, 'G': 6185, 'DNA_name': 'gb:AY278488|Organism:SARS', 'GC_content': 4, 'count_score': 29725}
{'A': 8942, 'index': [0], 'C': 5491, 'T': 9595, 'G': 5863, 'DNA_name': 'MN975262.1', 'GC_content': 3, 'count_score': 29891}
{'A': 8928, 'index': [0], 'C': 5510, 'T': 9571, 'G': 5846, 'DNA_name': 'MN996532.1', 'GC_content': 3, 'count_score': 29855}
ok

In [30]:
one=SeqIO.read('C:/Users/Vladi/Desktop/8.05/'+str(0)+'.fasta', "fasta")

for i in range(1,89):
    while i<90:
        two=SeqIO.read('C:/Users/Vladi/Desktop/8.05/'+str(i)+'.fasta', "fasta")
        DNA_name=one.id + "&" + two.id
        identifity=pairwise2.align.globalxx(one.seq, two.seq, score_only=True)
        count_score=len(one) if one.seq > two.seq else len(two)
        procent_identifity=(100*identifity)/count_score
        data={'DNA_name':(DNA_name), 'identifity':(identifity), 'index':[0], 'procent_identifity':(procent_identifity)}
        i+=1
        print(DNA_name)
        print(procent_identifity)
#        print(data)
    else:
#        frame_start=pd.DataFrame(data)
#        frame_start.to_csv('C:/Users/Vladi/Desktop/8.05/test.csv')
        print("ok")
        break

MT291826.1&NC_002645.1
65.5315865401
MT291826.1&NC_009019.1
70.6377696514
MT291826.1&gb:AY278488|Organism:SARS
82.893280102
MT291826.1&MN975262.1
99.973160667
MT291826.1&MN996532.1
96.215654041
MT291826.1&AY274119.3
82.9234743517
MT291826.1&AY278491.2
82.8832153521
MT291826.1&gb:AY390556|Organism:SARS
82.9167645184
MT291826.1&AY391777.1
70.1311772402
MT291826.1&AY515512.1
82.8194719361
MT291826.1&EF065513.1
68.5744959238
MT291826.1&FJ588686.1
81.0983997048
MT291826.1&FJ882945.1
82.802697353
MT291826.1&JX504050.1
65.9174019526
MT291826.1&KC881005.1
82.893280102
MT291826.1&KC881006.1
82.9939276009
MT291826.1&KY417146.1
82.9100546851
MT291826.1&KY417149.1
82.7490186869
MT291826.1&MG772933.1
89.1032307847
MT291826.1&MG772934.1
88.8314825377
MT291826.1&MK211377.1
83.0038061235
MT291826.1&MK211378.1
82.8194719361
MT291826.1&NC_006577.2
69.3092226658
MT291826.1&NC_009020.1
70.0305297413
MT291826.1&NC_014470.1
81.3362481213
MT291826.1&NC_019843.3
69.9802059919
MT291826.1&GQ504725.1
65.3470661254
MT291826.1&JX169866.1
69.3561914986
MT291826.1&DQ811789.2
67.1486563559
MT291826.1&GU393336.1
65.3638407086
MT291826.1&GU361608.1
5.47186902405
MT291826.1&FJ888351.1
65.9811453685
MT291826.1&MG764157.1
1.33525681887
MT291826.1&GU393338.1
65.9073372027
MT291826.1&MH705610.1
1.27822323615
MT291826.1&MH705597.1
1.27822323615
MT291826.1&MH705599.1
1.25809373637
MT291826.1&MH705604.1
1.27822323615
MT291826.1&MH705609.1
1.27822323615
MT291826.1&KC175339.1
67.8867380146
MT291826.1&MH705594.1
1.27822323615
MT291826.1&FJ755618.2
67.1889153555
MT291826.1&MH705608.1
1.27822323615
MT291826.1&MH705607.1
1.27822323615
MT291826.1&JN856008.2
69.1606026443
MT291826.1&MH705404.1
1.27822323615
MT291826.1&KC175340.1
69.0231449966
MT291826.1&MH705424.1
1.27822323615
MT291826.1&MH705407.1
1.27822323615
MT291826.1&MH705413.1
1.27822323615
MT291826.1&MH705389.1
1.27822323615
MT291826.1&MH705441.1
1.27822323615
MT291826.1&MH705411.1
1.27486831952
MT291826.1&MH705366.1
1.27822323615
MT291826.1&MH705376.1
1.27822323615
MT291826.1&DQ811786.2
66.3535411145
MT291826.1&KX900394.1
67.1620760224
MT291826.1&MH705388.1
1.27822323615
MT291826.1&FJ807934.1
5.43496494112
MT291826.1&FJ807946.1
5.41483544134
MT291826.1&MF462334.1
22.7899486698
MT291826.1&FJ938060.1
67.7055725165
MT291826.1&AB535528.1
27.5304458684
MT291826.1&KC577377.1
5.40477069145
MT291826.1&KC577378.1
5.42490019123
MT291826.1&KC577362.1
5.43496494112
MT291826.1&NC_023760.1
67.601570101
MT291826.1&KC577374.1
5.42490019123
MT291826.1&GU017124.1
3.79441070889
MT291826.1&KX156803.1
1.10712248801
MT291826.1&DQ648122.1
2.08340322743
MT291826.1&KP849472.1
68.5375918408
MT291826.1&JN687611.1
1.39564531821
MT291826.1&JN687607.1
1.39564531821
MT291826.1&NC_022103.1
66.0650182843
MT291826.1&KJ541759.1
68.4101050089
MT291826.1&KX156832.1
14.6240815916
MT291826.1&KP893231.1
1.31848223572
MT291826.1&KX266939.1
100.0
MT291826.1&MH938448.1
65.9174019526
MT291826.1&KX266940.1
100.0
MT291826.1&MF593271.1
2.17398597645
MT291826.1&KX266941.1
100.0
MT291826.1&MH938449.1
66.4776730298
MT291826.1&MF113046.1
67.6351192673
MT291826.1&MH854564.1
0.905827490187
MT291826.1&MH730097.1
0.929311906599
MT291826.1&MK993519.1
61.7371758312
MT291826.1&MT008022.1
100.0
ok